table.box {
  background-color: #F0F0F0;
}


.help { font-family: Arial Black, Arial, Verdana, Helvetica, sans-serif; 
font-size: 8pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
color: #008B8B;
text-decoration: none }

.info { font-family: Courier New, sans-serif; 
font-size: 8pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
color: #008B8B;
text-decoration: none }



th.sort_asc {
border-width: 1px;
cursor: s-resize;
border-color: gray;
}

th.sort_desc {
border-width: 1px;
cursor: n-resize;
border-color: gray;
}


img#selected_order {
border-width: 1px;
border-color: red;
border-style: solid;
}

th.selected { 
border-width: 2px;
border-color: red;
}

input.smallbutton {  font-family: Verdana, Arial, MS Sans Serif; 
font-size: 7pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

input.smallbuttonb {  font-family: Verdana, Arial, MS Sans Serif; 
font-size: 7pt;
font-style: normal; 
line-height: normal;
font-weight: bold;
text-decoration: none; }

input.mediumbutton {  font-family: Arial, MS Sans Serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

input.mediumbuttonb {  font-family: Arial, MS Sans Serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
font-weight: bold;
text-decoration: none; }

input.smalltext {  font-family: Verdana, Arial, MS Sans Serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

textarea.small {  font-family: Verdana, Arial, MS Sans Serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

select.small {
    font-family: Verdana, Arial, MS Sans Serif; 
    font-size: 8pt;
    font-style: normal; 
    line-height: normal;
    text-decoration: none;
}

