#workarea label {
	font-weight: bold;
}
/*
* Popups don't have left or right columns. Instead we
* indent the text a bit
*/
.popup {
	margin:30px;
	background-image: none;
	background-color: white;
}

.popuphead hr {
	background-color: #315076;
	height: 15px;
	border: none;
}
