<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <display-name>Help Administrator</display-name>
  <description>Reportnet Help Administrator</description>

        <!-- context params -->

        <!-- servlets -->

        <servlet>
                <servlet-name>main</servlet-name>
                <servlet-class>eionet.helpadm.servlets.Main</servlet-class>
        </servlet>
        <servlet>
                <servlet-name>xmlrpcrouter</servlet-name>
                <servlet-class>com.tee.uit.servlets.XmlRpcRouter</servlet-class>
        </servlet>
        <!-- servlet mappings -->

        <servlet-mapping>
                <servlet-name>main</servlet-name>
                <url-pattern>/main</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
                <servlet-name>xmlrpcrouter</servlet-name>
                <url-pattern>/rpcrouter/*</url-pattern>
        </servlet-mapping>

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>


  <!-- the application server might allow directory listing.
       The welcome-files are used to overcome workings of such feature
  -->

  <welcome-file-list>
    <welcome-file>main</welcome-file>
  </welcome-file-list>

</web-app>
